.footer-bg{
    position: relative;
    width: 100%;
    background: #1996af;
    background: -webkit-gradient(linear, left top, right top, from(#1996af), to(#23c4e4));
    background: linear-gradient(to right, #1996af, #23c4e4);
}
.dash{
    border: 1px solid #ffff;

    width: 240px;
    height: 0px;

}